

h1 {
    font-family: 'EB Garamond', serif;
    margin-top: 27%;
}

h2 {
    font-family: 'EB Garamond', serif;
    margin-top: 10%;

    
}

h4 {
    
     font-family: 'EB Garamond', serif;
    margin-bottom: 7%;
}

h5 {
    color: white;
}

h6 {
    font-family: 'EB Garamond', serif;
    margin-bottom: 8%;
    font-weight: normal;
}

h7 {
     font-family: 'EB Garamond', serif;
    font-size: 10px;
}

h8 {
    font-family: 'EB Garamond', serif;
}

.one.column{
    margin-bottom: 3%;
}

.twelve.columns1 {
    margin-bottom: 10%;
/*    width: 10%;*/
}




.twelve.columns2 {
    margin-top:10%;
    margin-bottom: -14.1%;
}

.twelve.columns3 {
    margin-top: 10%;
    margin-bottom: 5%;
}

.four.columns {
    margin-bottom: 15%;
}

.four.columns2 {
    margin-top: -20%;
    margin-bottom: -100%;

}

ol {
    padding-left: 7%;
}



#margintopcard {
    padding-top: -20%;
}

.six.columns {
    margin-bottom: 3%;
}





#caption {
    font-size: 20px;
}

a:link {
    color: black;
}

a:visited {
    color:black;
}

.socialmedias {
    text-align: center;
   
}



#title {
    text-decoration: none;
  
}

#copyright {
margin-top: -9%;
}

#copyright1 {
    margin-top: 2%;
    margin-bottom: 8%;
}


.twelve.columns1 img {
    width: 58%;
}


@media only screen and (max-width: 500px) {
  .twelve.columns1 img {
  width: 100%;
    }
    .twelve.columns1 h7 {
        width: 100%;
    }
    .twelve.columns1 h2 {
        width: 100%;
    }
    .twelve.columns2 {
    margin-top:10%;
    margin-bottom: -19.5%;
}
    .twelve.columns2 img {
       margin-bottom: -2%;
        padding-right: 50%;
    }

}





