h2 {
    font-family: 'EB Garamond', serif;
    margin-top: 8%;
    color: white;
/*    margin-bottom: -17px;*/
}

h5{
    color: black;
}

h6 {
    font-family: 'EB Garamond', serif;
    margin-bottom: 8%;
    font-weight: normal;
     color: white;
}

h7 {
     font-family: 'EB Garamond', serif;
    font-size: 10px;
    color: white;
    
}


.one.column{
    margin-bottom: 3%;
}
.twelve.columns1 {
    margin-bottom: 10%;
}

.twelve.columns2 {
    margin-top:10%;
    margin-bottom: -14%;
}

.four.columns {
    margin-bottom: 15%;
}

.six.columns {
    margin-bottom: 3%;
}




a:link {
    color: white;
}

a:visited {
    color:white;
}

body {
    background-color: black;
}

#title {
    text-decoration: none;
}
